@use '@angular/material' as mat;
@use "m3-theme" as mat3-theme;

@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

// Define the theme object.


$amad-web-admin-theme: mat.define-theme(
                (
                        color: (
                                theme-type: light,
                                primary: mat.$azure-palette,
                                tertiary: mat.$blue-palette,
                        ), density: (
                        scale: -2
                ),
                        typography: (
                                use-system-variables: true,
                        ),
                )
);
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field,
.mdc-notched-outline__notch {
  border-right-style: hidden;
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.core-theme($amad-web-admin-theme);

  @include mat.all-component-themes($amad-web-admin-theme);

}

.file-uploader {

  outline: 0;
  min-height: 180px;
  border-radius: 5px;
  border: 1px solid #dae0ec;
  background-color: transparent;

  .upload-input {
    color: var(--bodyColor);
    transition: var(--transition);

    .upload-text {
      b {
        font-weight: 500;
        color: var(--blackColor);
      }
    }

    &:hover {
      color: var(--daxaColor);
    }
  }

  .file-info {
    margin-bottom: 3px;
    color: var(--blackColor);
  }

  .remove-btn {
    color: var(--bodyColor);

    svg {
      top: 1px;
      position: relative;
    }
  }

}

.file-uploader {
  border-radius: 0 !important;

  * {
    border-radius: 0 !important;
  }
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($amad-web-admin-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($amad-web-admin-theme);
/* You can add global styles to this file, and also import other style files */
.warning-button-color {
  @include mat.button-color($amad-web-admin-theme, $color-variant: tertiary);
}

.cancel-button-color {
  @include mat.button-color($amad-web-admin-theme, $color-variant: error);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
